main {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    section {
        max-width: $max-content;
        margin: 0 auto;
        font-weight: $regular;
        padding: 2rem 0.75rem;
        display: flex;

        strong {
            font-weight: $bold;
        }

        .text-purple {
            color: $primaryColor;
        }

        .headline {
            font-size: $font-headline-min;
        }

        .btn::after {
            content: '→';
            width: 14px;
            height: 12px;
            display: inline-block;
            margin-left: .25em;
        }
    }

    .block-1 {
        text-align: center;
        flex-direction: column;
        justify-content: space-between;


        .video-hero-block {
            text-align: center;
            margin: 0 auto;

            .video-hero {
                border-radius: 8px;
                max-width: 900px;
                max-height: 100%;
                width: 100%;
                box-shadow: $shadow-min;
            }
        }



        .bg-hero::before {
            content: '';
            background-color: #f4ede4;
            height: 35%;
            width: 100vw;
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

}




@media (min-width: 1026px) {
    main {
        section {
            .headline {
                font-size: $font-headline;
            }
        }
    }
}