$primaryColor: #4a154b;
$secondaryColor: #fff;
$darkColor: #000;

$font-body: 0.9rem;
$font-nav: 0.9rem;
$font-headline: 3rem;
$font-headline-min: 1.75rem;

$regular: 400;
$medium: 500;
$bold: 700;

$max-content: 1275px;

$headline: 40px;
$text-center: center;

$shadow-min: 0 0 .8rem 0 rgba(0, 0, 0, .1) !important;