$primaryColor: #4a154b;
$secondaryColor: #fff;
$darkColor: #000;

$font-stack: 'Slack-Circular-Pro', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
$font-body: 16px;
$font-nav: 1.125rem;

$max-content: 1230px;

$headline: 40px;
$text-center: center;