$primaryColor: #4a154b;
$secondaryColor: #fff;
$darkColor: #000;

$font-body: 0.9rem;
$font-nav: 0.9rem;
$font-headline: 3.125rem;
$font-headline-min: 2rem;

$regular: 400;
$medium: 500;
$bold: 700;

$max-content: 1230px;

$headline: 40px;
$text-center: center;