@charset "UTF-8";
header {
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
}
header .nav-container {
  height: 50px;
  font-size: 0.9rem;
  /* Style span tag */
  /* Hide checkbox */
  /* Toggle menu icon */
  /* Nav menu */
}
header .nav-container .logo {
  display: inline-block;
  color: #000;
  font-size: 60px;
  margin-left: 10px;
  padding: 0 1vw;
}
header .nav-container .logo .logo-img {
  width: 100px;
  height: 36px;
}
header .nav-container .hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}
header .nav-container .hamb-line {
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
header .nav-container .hamb-line::before,
header .nav-container .hamb-line::after {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
header .nav-container .hamb-line::before {
  top: 5px;
}
header .nav-container .hamb-line::after {
  top: -5px;
}
header .nav-container .side-menu {
  display: none;
}
header .nav-container .side-menu:checked ~ nav {
  max-height: 100%;
}
header .nav-container .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
header .nav-container .side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
header .nav-container .side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
header .nav-container body:has(.side-menu:checked) {
  overflow: hidden;
}
header .nav-container nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.7s ease-out;
}
header .nav-container nav .menu a {
  display: block;
  padding: 20px;
  color: #000;
  font-weight: 500;
}
header .nav-container nav .menu a:hover {
  text-decoration: underline;
}
header .nav-container .nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

@media (min-width: 1026px) {
  header .nav-container {
    max-width: 1230px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  header .nav-container .logo {
    margin: 0px;
  }
  header .nav-container .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: left;
    background-color: transparent;
  }
  header .nav-container .nav .m-left li {
    float: left;
  }
  header .nav-container .nav .m-right li {
    float: right;
  }
  header .nav-container .nav .menu a:hover {
    text-decoration: underline;
  }
  header .nav-container .hamb {
    display: none;
  }
}
main {
  margin: 0 auto;
}
main section {
  max-width: 1230px;
  margin: 0 auto;
  font-weight: 400;
}
main section strong {
  font-weight: 700;
}
main section .text-purple {
  color: #4a154b;
}
main section .headline {
  font-size: 2rem;
}
main section .btn::after {
  content: "→";
  width: 14px;
  height: 12px;
  display: inline-block;
  margin-left: 0.25em;
}
main .block-1 {
  text-align: center;
}

@media (min-width: 1026px) {
  main section .headline {
    font-size: 3.125rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Slack-Circular-Pro", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}/*# sourceMappingURL=style.css.map */